* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #0a0a0a;
  color: #00ff00;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.content {
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 8vw; /* tamanho responsivo */
  max-font-size: 50px;
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00aa, 0 0 20px #00ff00ff;
  margin-bottom: 10px;
}

p {
  font-size: 4vw;
  max-font-size: 25px;
  color: #00ff00;
  text-shadow: 0 0 3px #00ff00, 0 0 8px #00ff00aa;
}













